* {
  margin: 0;
  padding: 0;
}
html {
  background-color: #434e5e;
  height: 100vh;
  font-family: "Baloo Bhai", sans-serif;
  color: white;
}

body {
  width: 100%;
  height: 100%;
}

.title {
  text-align: center;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.canvasContainer {
  background-color: white;
}
.uploadImage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.editionContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 15px;
}

.editionButtons {
  padding-left: 20px;
  width: 700px;
  border-radius: 10px;
  background-color: #434e5e;
}

.editionButtons > div {
  margin-bottom: 5px;
}

/*Download Button*/
.bttnDownl {
  display: inline-flex;
  height: 40px;
  width: 150px;
  border: 2px solid #bfc0c0;
  margin: 20px 20px 20px 20px;
  color: #bfc0c0;
  text-decoration: none;
  font-size: 0.8em;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}

.bttnDownl p {
  position: relative;
  transition: all 0.45s ease-Out;
}

#spinAnim {
  width: 0;
  height: 0;
  opacity: 0;
  left: 70px;
  top: 20px;
  transform: rotate(0deg);
  background: none;
  position: absolute;
  transition: all 0.5s ease-Out;
}

.bttnDownl:hover #spinAnim {
  width: 200%;
  height: 500%;
  opacity: 1;
  left: -70px;
  top: -70px;
  background: #bfc0c0;
  transform: rotate(80deg);
}

.bttnDownl:hover p {
  color: #2d3142;
}
